
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletic</title>
</head>
<body>
    <div> 
        @ViewBag.Piu
        <p>Удаление произведено</p>
        @Html.ActionLink("Тыкай", "Print")
    </div>
</body>
</html>
