
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Здравствуйте!</title>
</head>
<body>
    <div> 
        <p>Перейдите по ссылке</p>
        <a href="/Home/Smt">Жми здесь</a>
    </div>
</body>
</html>
